<h1 class='title'><%= @product.title %></h1>
<p class='description'> <%= @product.description %> </p>
<span class='price'>
  <%= "#{t('activerecord.attributes.product.price')}: U$D #{@product.price}" %>
</span>
<div>
  <%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
</div>

<div>
  <%= link_to t('.edit_product'), edit_product_path(@product) if @product.owner? %>
  <%= link_to t('.delete_product'), product_path(@product), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
    } if @product.owner?
  %>
</div>

<div>
  <%= link_to t('.view_profile', username: @product.user.username), user_path(@product.user.username) %>
</div>

<%= render partial: 'favorite', locals: { product: @product } %>
